.container-board{    
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    grid-gap: 10px;
    margin: 10px 20px;
}

.easy{  
    grid-template-columns: repeat(4, minmax(140px, 1fr));        
}

.medium{  
    grid-template-columns: repeat(7, minmax(140px, 1fr));
}

.hard{  
    grid-template-columns: repeat(9, minmax(115px, 1fr));
}

.expert{  
    grid-template-columns: repeat(10, minmax(105px, 1fr));    
}

/* --->desketop<--- */
@media(min-width: 481px){
    .mobile{        
        display: none;
    }    
}

/* --->Mobile<--- */
@media (max-width:480px){
    .desketop{        
        display: none;
    }
    .container-board,
    .medium,
    .hard,
    .easy{  
        grid-template-columns: repeat(4, minmax(80px, 1fr));        
    }

    .hard{  
        grid-template-columns: repeat(4, minmax(65px, 1fr));
    }
}

/* --->Landscape / Tablet<--- */
@media (min-width: 481px) and (max-width: 800px){
    .desketop{        
        display: none;
    }
    .container-board,
    .easy{  
        grid-template-columns: repeat(4, minmax(100px, 1fr));        
    }
    .medium{  
        grid-template-columns: repeat(7, minmax(100px, 1fr));
    }

    .hard{  
        grid-template-columns: repeat(9, minmax(70px, 1fr));
    }
    .expert{  
        grid-template-columns: repeat(10, minmax(65px, 1fr));
    }
}