*{   
    margin: 0;
}

.container-about{
    background-image: url('/src/assets/cover2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;    
}

.card-about{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: fit-content;
    padding: 0 12px;
    backdrop-filter: contrast(.8);     
    border-radius: 25px;
    /* border: 1px solid blue; */    
}

.title-group{
    /* border: 1px solid red; */
}

.title-hi{
    margin: 15px 0;
    font-size: 50px;
}

.title-name{
    margin: 15px 0;
    font-size: 40px;
}

.name-change{
    color: #0288d1;
}

.about-pa{
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
    margin: 15px 0;
    max-width: 500px;
}

.social-media{
    margin: 15px;    
    /* border: 1px solid green; */
}

.logosSocialMedia{
    margin: 0 25px;    
}

.button-home{
    background: #FF5F5F;
    margin: 20px;
    font-size: 20px;
    width: 100px;
    border-radius: 20px;
    border: none;
    color: white;
    transition: .3s;
    cursor:pointer;

    
}

.button-home:hover{
    background: #FCFF76;    
    color: black;
    transform: scale(1.05)
}


/* --->desketop<--- */
@media(min-width: 481px){
    .mobile{        
        display: none;
    }
}

/* --->Mobile<--- */
@media (max-width:480px){
    .desketop{        
        display: none;
    }
    .container-about{
        background-image: url('/src/assets/cover.svg');
    }
    .card-about{
        width: 85%;
    }
    .title-hi{
        margin: 15px 0;
        font-size: 35px;
    }    
    .title-name{
        margin: 15px 0;
        font-size: 22px;
    }
    .name-change{
        color: white;
    }
}
