@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{      
    font-family: 'Secular One', sans-serif;
}

.container-NavBar{            
    backdrop-filter: brightness(75%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 160px;        
    padding: 0px 12px;
}

.container-NavBar-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 0 8px;
}

.central-group-nb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.tittle-nb{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;    
    color: white;    
    -webkit-text-stroke: 2px black;
}

.buttons-img{
    display: flex;
    align-items: center;
}

.reload-nb{
    max-width: 30px;
    margin: 10px 10px;
}

.reload-nb:hover{
    cursor: pointer;
    filter: brightness(1.25);    
}

.text-choiced{    
    font-size: 15px;
}

.scoreBoard{
    display: block;    
    text-align: center;
    position: relative;
}

.number-tries-nb{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: black;
}


/* group buttons */
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4{
    margin: 8px;    
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor:pointer;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover{
    color: dodgerblue;
    box-shadow: -5px 5px 5px rgb(0, 0, 0, 0.5);
}

.btn-1{
    background-color: #92F183;
}

.btn-2{
    background-color: #FCFF76;
}

.btn-3{
    background-color: #FFAE64;
}

.btn-4{
    background-color: #FF5F5F;
}

.about-nb{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.about-nb:hover{
    color: #92F183;
}

/* --->desketop<--- */
@media(min-width: 801px){
    .mobile{        
        display: none;
    }    
}

/* --->Mobile<--- */
@media (max-width:480px){
    .desketop{        
        display: none;
    }
    .container-NavBar{                            
        width: 100%;    
        padding: 0px 0px;
    }
    .tittle-nb{
        font-size: 30px;
    }
}

/* --->Landscape / Tablet<--- */
@media (min-width: 481px) and (max-width: 800px){
    .desketop{        
        display: none;
    }
    .container-NavBar-mobile.mobile{
        display: flex;
    }

    .container-NavBar{             
        width: 100%;    
        padding: 0px 0px;
    }
    .tittle-nb{
        font-size: 30px;
    }
}