.App{
    background-image: url('/src/assets/cover2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.container{
    display: flex;
    position: relative;    
    height: 100vh;
    justify-content: center;
}

.navBar{
    z-index: 20;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

/* --->desketop<--- */
@media(min-width: 481px){
    .mobile{        
        display: none;
    }
}

/* --->Mobile<--- */
@media (max-width:480px){
    .desketop{        
        display: none;
    }
    .App{
        background-image: url('/src/assets/cover.svg');
    }
    .container{
        display: flex; 
        flex-direction: column;
    }    
}

/* --->Landscape / Tablet<--- */
@media (min-width: 481px) and (max-width: 800px){
    .desketop{        
        display: none;
    }
    .container{
        display: flex; 
        flex-direction: column;
    }
}