#alert-dialog-description{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-bottom: 30px ;
}

.choise-group-complete{
    display: flex;
    justify-content: center;
}

/* --->Mobile<--- */
@media (max-width:480px){
    .desketop{        
        display: none;
    }
    .btn-modal.hard-mobile{
        display: none;
    } 
}